<head>
  <%= stylesheet_link_tag params[:controller] %>
</head>

<h1>Welcome to CABCP!</h1>
<p>CABCP is a start-up company based in Hong Kong with an aim of providing the most info possible on Authors and their books including info on their origin and contents of the books!</p>
<hr>
<br>
<p>Get started by navigating through the dropdown options above.</p>
